<nav class="navbar is-success" role="navigation" aria-label="main navigation ">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
  </div>
  <div class="navbar-menu">
    <!-- navbar start, navbar end -->
    <a class="navbar-item" [routerLink]="['/createKitten']">
      Home
    </a>

    <a class="navbar-item" [routerLink]="['/createKitten']">
      Add a cat
    </a>

    <a class="navbar-item" [routerLink]="['/listKitten']">
      Our cats
    </a>

    <a class="navbar-item" [routerLink]="['/userKitten']">
      Already adopted Kitten
    </a>

  </div>
</nav>
